.input-container {
  background-color: #f2f4f8;
  width: 250px;
  height: 50px;
  padding: 4px 12px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  gap: 12px;
}

.search-input {
  border: none;
  outline: none;
  background: none;
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
  font-weight: 500;
  color: #000;
}
.search-input::placeholder {
color: #000;
}

.icon {
  font-weight: 800;
}
